@model IEnumerable<EquipmentReservation.Models.ReservationViewModel>

@{
    ViewBag.Title = "予約一覧";
}

<h2>予約一覧</h2>
<p>
    @Html.ActionLink(
        "新規予約",
        "NewReservation",
        "Reservation",
        new { },
        new { @class = "btn btn-default" }
        )
</p>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>利用者名</th>
                <th>備品</th>
                <th>利用開始日時</th>
                <th>利用終了日時</th>
                <th>利用目的</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
            <tr>
                <td>@reservation.Account.Name</td>
                <td>@reservation.Equipment.Name</td>
                <td></td>
                <td></td>
                <td>@reservation.Purpose</td>
                @*<td>@Html.ActionLink("Detail", "Detail", "User", new { id = summary.Id }, new { @class = "btn btn-default" })</td>*@
            </tr>
            }
        </tbody>
    </table>
</div>
