@model IEnumerable<EquipmentReservation.Application.Reservations.Data.ReservationListData>

@{
    ViewBag.Title = "予約一覧";
}

<h2>予約一覧</h2>
<p>
    @Html.ActionLink(
        "新規予約",
        "NewReservation",
        "Reservation",
        new { },
        new { @class = "btn btn-default" }
        )
</p>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>利用者</th>
                <th>備品</th>
                <th>利用開始日時</th>
                <th>利用終了日時</th>
                <th>利用目的</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
            <tr>
                <td>@reservation.AccountName</td>
                <td>@reservation.EquipmentName</td>
                <td>@reservation.StartDateTime</td>
                <td>@reservation.EndDateTime</td>
                <td>@reservation.PurposeOfUse</td>
                <td>@Html.ActionLink("変更", "EditReservation", "Reservation", new { reservationId = reservation.Id }, new { @class = "btn btn-default" })</td>
                <td>@Html.ActionLink("キャンセル", "CancelReservation", "Reservation", new { reservationId = reservation.Id }, new { @class = "btn btn-default" })</td>
            </tr>
            }
        </tbody>
    </table>
</div>
