@model EquipmentReservation.Models.ReservationViewModel
@{
    ViewBag.Title = "新規予約";
}

<h2>新規予約</h2>

<hr />
@using (Html.BeginForm("RegisterReservation", "Reservation"))
{
    <div class="row">
        <div class="col-md-3">利用者</div>
    </div>
    <div class="row">
        <div class="col-md-3">備品</div>
    </div>
    <div class="row">
        <div class="col-md-3">利用開始日付</div>
        <div class="col-md-3">@Html.TextBoxFor(model => model.FromDate)</div>
        <div class="col-md-3">時間</div>
        <div class="col-md-3">@Html.TextBoxFor(model => model.FromTime)</div>
    </div>
    <div class="row">
        <div class="col-md-3">利用終了日付</div>
        <div class="col-md-3">@Html.TextBoxFor(model => model.ToDate)</div>
        <div class="col-md-3">時間</div>
        <div class="col-md-3">@Html.TextBoxFor(model => model.ToTime)</div>
    </div>
    <div class="row">
        <div class="col-md-3">利用目的</div>
        <div class="col-md-3">@Html.TextBoxFor(model => model.Purpose)</div>
    </div>
    <input type="submit" class="btn btn-primary" value="予約" />
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

